.video{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.TextBlock{
    overflow: scroll;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    #textblock-content {
        font-size: 14px;
    }
}

/* Styles for larger screens */
@media (min-width: 768px) {
    #textblock-content {
        font-size: 16px;
    }
}


